$primary: rgb(255, 170, 0);

.text-indent-0 {
    text-indent: 0;
}

.text-indent-1 {
    text-indent: 1rem;
}

.text-indent-2 {
    text-indent: 2rem;
}

.text-indent-3 {
    text-indent: 3rem;
}

.text-indent-4 {
    text-indent: 4rem;
}

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.paragraphs {
    @extend .m-3;

    li {
        @extend .ms-3;
        @extend .mb-2;
        @extend .fs-5;
    }

    &>p {
        @extend .m-3;
        @extend .text-indent-3;
        @extend .fs-5;
    }

    &>h2 {
        @extend .m-3;
        @extend .fw-bold;
        @extend .fs-2;
    }
}

code.code {
    background-color: rgb(219, 219, 219);
    margin: 0 0.2rem;
    color: rgb(0, 0, 0);
    padding: 0.1rem 0.3rem;
    border-radius: 0.4rem;
}

details.feature {
    border: 0.1rem solid rgb(48, 48, 48);
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    @extend .p-3;
    @extend .mb-3;

    &>summary {
        transition: 0.3s ease-in-out;
        overflow-y: scroll;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE 10+ */

        &::-webkit-scrollbar {
            background: transparent;
            /* Chrome/Safari/Webkit */
            width: 0px;
        }


        @extend .fw-bold;
        @extend .fs-3;

    }

    &[open] {
        @extend .pb-1;

        p {
            @extend .text-indent-3;
            @extend .fs-5;
        }

        ul>li {
            @extend .ms-3;
            @extend .fs-5;
        }

        &>summary {
            @extend .text-indent-2;
            @extend .pb-2;
            @extend .mb-2;
            border-bottom: 0.3rem solid rgb(48, 48, 48);
        }
    }

    * {
        animation: sweep .5s ease-in-out;
    }

    @keyframes sweep {
        0% {
            opacity: 0;
            margin-left: -10px
        }

        100% {
            opacity: 1;
            margin-left: 0px
        }
    }

}

details.not-done {
    summary {
        @extend .text-muted;
        @extend .text-decoration-line-through;

        &::after {
            content: " (Work In Progress...)";
        }
    }

    p {
        @extend .fst-italic;
    }
}

details.drop_down {
    &>summary {
        background-color: #eeeeee;
        border: none;
        width: min-content;
        white-space: nowrap;
        box-shadow: 0.1rem 0.1rem 0.2rem #bbbbbb;
        cursor: pointer;
        @extend .fs-5;
        @extend .px-3;
        @extend .py-1;
    }

    ol>li {
        background-color: #eeeeee;
        @extend .px-2;
        @extend .m-2;
        width: min-content;
        white-space: nowrap;
        box-shadow: 0.1rem 0.1rem 0.2rem #bbbbbb;
    }
}

.code-block {
    position: relative;

    .copy-button {
        position: absolute;
        top: 0.2em;
        right: 0.2em;
        padding: 0;
        @extend .fs-5;
        background-color: rgba(0, 0, 0, 0.6);
        border: none;
        border-radius: 0.4rem;
        transition: 0.1s ease-out;
        color: rgba(255, 255, 255, 0.7);

        &:hover {
            transform: translateY(-5%);
        }

        &:active {
            transform: translateY(2%);
            background-color: rgb(0, 0, 0);
        }
    }
}